<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" animated color="medium"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-card><h1>Una compra pendiente  <ion-icon name="mail-unread-outline"></ion-icon></h1></ion-card>
    </ion-item>
    <ion-item>
      <ion-card><h1>Tienes Ofertas Disponibles<ion-icon name="mail-unread-outline"></ion-icon></h1></ion-card>
    </ion-item>
    <ion-item>
      <ion-card><h1>Tu compra no realizas<ion-icon name="mail-unread-outline"></ion-icon></h1></ion-card>
    </ion-item>
   
  </ion-list>
</ion-content>