<ion-content style="text-align:center !important;">
  <form class="example-form" #formUser="ngForm">
    <ion-row>
      <ion-col>
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input type="text" #usarioCount matInput name="usario" [(ngModel)]="user.usario" placeholder="Usuario"
            (keyup)="onKeyUp($event)" maxlength="30" minlength="8"
            onkeypress="if(this.value.length == this.maxLength ) return false;"
            required>
          <mat-hint aling="end"> {{usarioCount.value.length}}/30 </mat-hint>>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" #contraCount matInput name="contrasena" [(ngModel)]="user.contrasena"  placeholder="Contraseña"maxlength="30" (keyup)="onKeyContra($event)"
            onkeypress="if(this.value.length==this.maxLength) return false;" required>
            <mat-hint aling="end"> {{contraCount.value.length}}/20 </mat-hint>>
        </mat-form-field>
        <br>
        <br>
        <ion-button (click)="onSubmit(formUser)">
          Guardar
        </ion-button>
        <br>
        <ion-button routerLink="/register">Registro</ion-button>
        <br>
        <br>

        <ion-button routerLink="/recuperacion-correo">Olvide Contrseña</ion-button>


      </ion-col>


    </ion-row>
  </form>
</ion-content>